.Item {
  display: flex;
  flex-direction: column;
  transition: background-color 1s;
 
 
 
}


.Item-taskDone {
  padding-left: 10px;
  padding: 10px 10px;
  display: flex;
  display: grid;
  grid-template-columns:5fr 1fr 1fr;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  background: rgb(220, 251, 226);
  
}

.Item-taskInProgress {
  padding-left: 10px;
  padding: 15px 15px;
  display: flex;
  display: grid;
  grid-template-columns:5fr 1fr 1fr;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  background: rgb(216, 238, 247);
  
}

.Item-taskAwaitingExecution {
  padding-left: 10px;
  padding: 10px 10px;
  display: flex;
  display: grid;
  grid-template-columns:5fr 1fr 1fr;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  background: rgb(255, 248, 225);
  
}
.Item-description{
  font-size: 15px;
  text-align: start;
  padding: 5px 5px 5px 5px;
}

.Item-description span:first-child{
  display: block;
  font-size: 18px;
  text-decoration: underline;
  width: 100%;
  padding: 5px 0px;
  font-weight: 700;
}

.Item-inProgress{
  display: flex;
  flex-direction: column;
 justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(94, 207, 248);
}

.Item-awaitingExecution{
  display: flex;
  flex-direction: column;
 justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(248, 215, 96);
}

.Item-done{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(81, 248, 117);
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px
}

.Item-actions button {
  cursor: pointer;
 background: none;
  border: none;

}
